
*.config
.vs/Beer_Vendas/DesignTimeBuild/.dtbcache.v2
.vs/Beer_Vendas/v16/.suo
bin/Debug/netcoreapp3.1/Beer_Vendas.dll
bin/Debug/netcoreapp3.1/Beer_Vendas.exe
bin/Debug/netcoreapp3.1/Beer_Vendas.pdb
bin/Debug/netcoreapp3.1/Beer_Vendas.Views.dll
bin/Debug/netcoreapp3.1/Beer_Vendas.Views.pdb
obj/Beer_Vendas.csproj.nuget.dgspec.json
obj/Beer_Vendas.csproj.nuget.g.props
obj/Debug/netcoreapp3.1/apphost.exe
obj/Debug/netcoreapp3.1/Beer_Vendas.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/Beer_Vendas.dll
obj/Debug/netcoreapp3.1/Beer_Vendas.pdb
obj/Debug/netcoreapp3.1/Beer_Vendas.Views.dll
obj/Debug/netcoreapp3.1/Beer_Vendas.Views.pdb
obj/project.assets.json
obj/project.nuget.cache
.vs/Beer_Vendas/v16/.suo
obj/Debug/netcoreapp3.1/Razor/Views/Usuario/Listar.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Usuario/Home.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Shared/_LayoutAdmin.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Produto/Listar.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Produto/Cadastrar.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Pedido/Solicitacao.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Pedido/Carrinho.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
obj/Debug/netcoreapp3.1/Beer_Vendas.Views.pdb
obj/Debug/netcoreapp3.1/Beer_Vendas.Views.dll
obj/Debug/netcoreapp3.1/Beer_Vendas.TagHelpers.output.cache
obj/Debug/netcoreapp3.1/Beer_Vendas.pdb
obj/Debug/netcoreapp3.1/Beer_Vendas.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/Beer_Vendas.exe
obj/Debug/netcoreapp3.1/Beer_Vendas.dll
obj/Debug/netcoreapp3.1/Beer_Vendas.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/Beer_Vendas.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/Beer_Vendas.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/Beer_Vendas.assets.cache
obj/Beer_Vendas.csproj.nuget.g.props
obj/Beer_Vendas.csproj.nuget.dgspec.json
