
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        </div>

        <!-- Content Row -->
        <div class="row">
            <div class="container" style="width:90%;">
                <canvas id="myChart"></canvas>
            </div>
        </div>

        <script src="~/js/chart.js/Chart.js"></script>
        <!-- Page level custom scripts -->

        <script>
            let myChart = document.getElementById('myChart').getContext('2d');
            let grafico = new Chart(myChart, {
                type: 'bar',
                data: {
                    labels: ['Cerveja 1', 'Cerveja 2', 'Cerveja 3', 'Cerveja 4', 'Cerveja 5'],
                    datasets: [{
                        label: 'Bebidas',
                        data: [
                            10,
                            25,
                            185,
                            100,
                            124
                        ],
                        backgroundColor: ['#1f8038', '#c9cc04', '#13599e', '#c9223e', '#e67a07'],
                        borderWidth: 4
                    }]
                },
                options: {}
            });

        </script>

    </div>